body {
  background-color: #fff;
  font-family: "Calibri",Arial, sans-serif;
  font-size:2em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 5px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
ul.topnav li {
  float: center;
  display: inline-block;
}
ul.topnav li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1em;
}
ul.topnav li a:hover {
  background-color: #228b22;
}
ul.topnav li.icon {
  display: none;
}
.imgsize {
  height: 300px;
  width: auto;
  border-radius: 25px;
}
h1 {
  font-family:"Calibri",sans-serif;
  color:#228b22;
  
}
h3 {
  font-family:"Calibri",sans-serif;
}
a:link {
  color: #4D8963;
}
a:visited {
  color:#333;
}
a:hover {
  background-color: #c1f0c1;
}
a:active {
  color: #E1B378;
}
h1 {
  font-family: Georgia;
}
table, td {
  border: 1px solid black;
  padding: 2px;
  text-align: left;
}
th {
  background-color: #333;
  color:#fff;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  font-family:"Franklin Gothic Medium",Calibri,sans-serif; 
}
tr:hover {
  background-color: #ccc;
}